.Contents{
	margin-top : 50px;
}
.page{
	margin-bottom : 30px;
	right: 20px;
	position: relative;
	text-align: right;
}
.page i{
	cursor: pointer;
}
table{
	text-align: center;
	table-layout: fixed;
	word-wrap: break-word;
}