@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../dist/fonts/glyphicons-halflings-regular.eot');
  src: url('../dist/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../dist/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../dist/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../dist/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
.lists tbody tr:hover{
	background-color : #bdc3c7;
	cursor: pointer;
}
#info tbody tr td:nth-child(2):hover{
	cursor: pointer;
}