.table {
	table-layout: fixed;
}

.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

th, td{
	text-align: center;
	vertical-align: middle;
}

tbody > tr{
	cursor : pointer;
}

tbody > tr:hover{
	background-color: rgba(0,0,0,0.1);
}

.page_listing{
	text-align: right;
	font-size: 18px;
	margin-right: 10px;
}

.question_row {
	background-color: #f9f9f9
}

.answer_row span.answer_no {
	padding-left: 50px;
}