@CHARSET "UTF-8";

.popup_layer {
	display: none;
	position: absolute;
	width: auto;
	min-width: 550px;
}

.popup_layer.right > .arrow {
	z-index: 1;
	top: 30px;
	left: -10px;
	margin-top: -11px;
	border-right-color: #999;
	border-right-color: rgba(0, 0, 0, .25);
	border-left-width: 0;
}

.popup_layer.right > .arrow:after {
	bottom: -10px;
	left: 1px;
	content: " ";
	border-right-color: #fff;
	border-left-width: 0;
}

.popup_layer > .arrow {
	border-width: 11px;
}

.popup_layer > .arrow:after {
	content: "";
	border-width: 10px;
}

.popup_layer > .arrow, .popup_layer > .arrow:after {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}

.popup_layer > .popup_layer_content {
	padding: 8px 14px;
	min-height: 100px;
}

.popup_layer > .popup_layer_header {
	padding: 8px 14px;
	min-height: 100px;
}
