<div class="modal fade" id="call_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">콜 상세 보기</h4>
			</div>
			<div class="modal-body">
				<div id="info">
					<div id="calls-left">
						<fieldset id="driver">
							<legend>기사 정보</legend>
							<span class="title">이름</span>
							<p class="content" id="name"></p>
							<span class="title">핸드폰 번호</span>
							<p class="content" id="d_phone"></p>
							<span class="title">이메일</span>
							<p class="content" id="email"></p>
							<span class="title">평점</span>
							<p class="content"id="star"></p>
							<span class="title">현재 위치 정보</span>
							<p class="content" id="gps"></p>
						</fieldset>
					</div>
					<div id="calls-right">
						<fieldset id="call">
							<legend>콜 정보</legend>
							<span class="title">핸드폰 번호</span>
							<p class="content" id="u_phone"></p>
							<span class="title">출발지</span>
							<p class="content" id="start"></p>
							<span class="title">경유지</span>
							<p class="content" id="through"></p>
							<span class="title">도착지</span>
							<p class="content" id="end"></p>
							<span class="title">오지 체크</span>
							<p class="content" id="check">?</p>
							<span class="title">요금</span>
							<p class="content" id="money"></p>
							<span class="title">상태</span>
							<p class="content" id="status"></p>
							<span class="title">등록 시간</span>
							<p class="content" id="createdAt"></p>
						</fieldset>
					</div>
				</div>
				<span class="title etc">기타 사항</span>
				<textarea class="content" id="etc" cols="4"></textarea>
			</div>
			<div class="modal-footer">
				<button id="del" type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<link rel="stylesheet" href="./assets/css/modal.css">
