<div class="modal fade" id="map_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="map_modal_label"></h4>
			</div>
			<div class="modal-body">
				<div id="search_form">
					<span>검색 : </span><input type="text" id="find_addr"><button type="button" id="search_btn" class="btn btn-primary btn-sm">검색</button>
				</div>
				<div id="map_div"></div>
				<p id="address_lb"></p>
				<input type="hidden" id="coord_lat">
				<input type="hidden" id="coord_lon">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
				<button type="button" id="submit_coord" class="btn btn-primary">입력하기</button>
			</div>
		</div>
	</div>
</div>
