@CHARSET "UTF-8";

html, body { margin: 0px; padding: 0px; }
body { width: 1300px; height: 100%; }
input { margin: 0px; padding: 0px; width: 394px; height: 25px; line-height: 25px; border: 1px solid #bbbbbb; padding-left: 3px; padding-right: 3px; }
.ui-widget-header { padding: 3px; }
.areaWrapper { float: left; height: auto; }
.menuArea { width: 300px; }
.contentArea { width: 1000px; }

.titleWrap { padding: 10px; width: 980px; height: 30px; border: 1px solid #bbbbbb; }
#txtTitle { font-size: 16px; font-weight: bold; }
.urlWrap { padding: 10px; width: 980px; height: 30px; line-height: 30px; border-right: 1px solid #bbbbbb; border-left: 1px solid #bbbbbb; }
.parameters { width: 980px; padding: 10px; border: 1px solid #bbbbbb; }
.parameters .parametersInput { width: 868px; height: 30px; line-height: 30px; }
.buttonWrap { padding: 5px; height: 40px; text-align: center; }
#btnExecute { width: 200px; height: 40px; }
#resultWrap { width: 980px; height: 500px; padding: 10px; border: 1px solid #bbbbbb; margin-bottom: 20px; overflow-y: auto; }

