 /* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html, body
{
    height: 100%;
}
body {
	font-family: "Nanum Gothic", sans-serif;
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
input{
	padding : 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
textarea:focus, input:focus{
    outline: 0;
}
#container{
	height : 100%;
}
.header{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  height: 10%;
  border-bottom: solid 1px #bfbfbf;
}
#content{
	border-bottom: solid 1px #bfbfbf;
}
.left{
	cursor: pointer;
	margin-top : auto;
	margin-bottom : auto;
	margin-left : 3%;
	width: 10%;
	height: 40%;
	background-image: url("../img/write_ic_back.png");
    background-size: 100% 90%;
    background-repeat: no-repeat;
}
.right{
	width: 20%;
	margin: auto;
}
.menu{
	font-size: 20px;
	font-weight: bold;
	width: 50%;
	margin: auto;
	margin-left: 20%;
	margin-right: 10%;
	text-align: center;
}
#title{
	height : 40px;
	width : 100%;
	border-bottom: solid 1px #bfbfbf;
}
#writes{
	overflow:auto;
	width : 100%;
}
#check{
	width: 100%;
	height: 40px;
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	border-bottom: solid 1px #bfbfbf;
}
#txt_title{
	border : 0;
	height: 100%;
	width: 99%;
	margin-left : 1%;
	font-size : 100%;
}
.need{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	padding : 5px;
}
.need2{
	padding : 10px;
}
.fill{
	width : 100%;
	height: 30px;
	font-size: 13px;
}
.lb{
	width: 50%;
	color: red;
}
#submit{
	background-color: #e6e6e6;
	padding-top : 1%;
	height: 19%;
}
#button{
	top: 0;
	left: 0;
	width: 100%;
	height: 90%;
	text-align: center;
}
#submit_button{
	width: 98%;
	height : 70%;
	margin-right: 1%;
}
.inline_text{
	font-size: 20px;
    padding: 5px;
    color: white;
    position:relative;
    top: -50%;
}
.checked{
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	height: 60%;
	width: 15%;
	background-image: url('../img/write_box_checked.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}
.unchecked{
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	height: 60%;
	width: 15%;
	background-image: url('../img/write_box_unchecked.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}
#span_look , #span_volunteer{
	display: -webkit-inline-box;
	display: inline-box;
	width : 50%;
	height : 100%;
}
#span_look{
	margin-left: 10%;
}
#lb_ggonzi{
	position: relative;
	top: 80%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
#top_menu{
	padding: 2%;
	width: 96%;
	background-color : #f0f0f0;
	border-bottom: solid 1px #cecece;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
}
#top_menu2{
	padding: 2%;
	width: 96%;
	border-bottom: solid 1px #cecece;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	cursor: pointer;

	text-decoration: none;
}
#category{
	position: relative;
	left : 1%;
	width: 8%;
}
.want{
	background-image: url('../img/detail_gp_category01.jpg');
    background-repeat: no-repeat;
    background-size: 100% 50%;
}
.volunteer{
	background-image: url('../img/detail_gp_category02.jpg');
    background-repeat: no-repeat;
    background-size: 100% 50%;
}
#top_title{
	position: relative;
	width: 80%;
	height: 80%;
	top: 15%;
	left: 3%;
	font-size : 16px;
}
#content_title{
	font-size: 16px;
	width: 95%;
}
#nick::after , #date::after{
	content: " | ";
}
#bottom_title{
	color : #a1a1a1;
	font-size : 14px;
	margin-top : 2%;
}
#comment_count{
	position: relative;
	width: 8%;
	left : 4%;
	background-image: url('../img/detail_reply.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}
#comment_count > #count{
	font-size: 100%;
    left : 35%;
    top: 5px;
    position:relative;
}
#content2{
	line-height: 1.3;
}
#bottom_comment_count{
	padding : 2%;
	font-size: 18px;
	background-color : #e5e5e5;
	border-top: solid 1px #9d9d9d;
	border-bottom: solid 1px #9d9d9d;
}
#bottom_comment_content{
	padding-top: 3%;
	padding-bottom: 3%;
	width: 100%;
	background-color: #fafafa;
	border-bottom: solid 1px #bababa;
}
#comment_title{
	padding-left: 3%;
	color: #5e5e5e;
	margin-bottom: 2%;
}
#comment_content{
	padding-left: 3%;
	width: 90%;
	line-height: 1.2;
}
#submit_comment{
	padding: 3% 0% 3% 3%;
	width: 97%;
	height : 5%;
	background-color: #e6e6e6;
}
.submit_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #dcdcdc;
	cursor:pointer;
	color:#eb6c3f;
	font-size:12px;
	font-weight:bold;
	padding: 15px 10%;
	text-decoration:none;
}
.submit_button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
	background-color:#e9e9e9;
}
.submit_button:active {
	position:relative;
	top:1px;
}
#text_nick{
	font-size: 12px;
	width : 15%;
	height : 100%;
}
#text_comment{
	font-size: 12px;
	width: 60%;
	height : 100%;
}
#btn_submit{
	padding: 2% 6%;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color : black;
}